body{
    background-color: rgba(0, 0, 0, 0.73);
}

.bg-red {
    background: rgba(0, 0, 0, 0.799);
}

.container {
    width: 45vh;
    border-radius: 20px;
}

.mx-auto{
    margin: auto;
}

.m-w-20 {
    min-width: 300px;
}

/* .flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
} */

/* .items-center{
    justify-content: center;
    align-items: center;
} */

.row input {
    display: flex;
    padding: 6px;
    margin: 0;
    width: 285px;
    height: 10vh;
    font-size: 5vh;
    text-align:right;
    border-radius: 20px;
    color:white;
    background-color: rgba(0, 0, 0, 0.799);
    border: 0px;
}

.operator {
    background-color: rgb(255, 170, 0);
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
}

.row input:active{
    background-color: white;
}