.bg-red {
    background: rgba(0, 0, 0, 0.159);
}

.container {
    width: 60vh;
}

.mx-auto{
    margin: auto;
}

.m-w-20 {
    min-width: 300px;
}

/* .flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
} */

/* .items-center{
    justify-content: center;
    align-items: center;
} */

.row input {
    display: flex;
    padding: 6px;
    margin: 0;
    width: 272px;
}
